/* Font names */
/* font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  --color-one: #394648;
   /* #88498F; */
  --color-two: #CBAC88;
  /* #779FA1; */
  --color-three: #EDB6A3;
   /* #E0CBA8;   */
  --color-four: #69995D;
  /* #EE964B;#FF6542;  */
  --color-five: #F8E9E9;
  /* #564154; */
  --heading-font: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --body-font: 'Lora', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Mobile */
html {
  background-color: #FAF9F6;
  margin: 0;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--body-font);
}

.fa-network-wired {
  font-size: 4rem;
  color:var(--color-one);
  background-color: var(--color-three);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

h1 {
  color: var(--color-five);
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 3rem;
  background-color: var(--color-one);
  width: 60%;
  margin: 20px auto;
  border-radius: 5px;
}

h2 {
  font-family: var(--heading-font);
  margin: 0;
  padding: 20px;
  text-align: center;
}

 p {
  color: var(--color-one);
  font-family: 'lara', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  margin: 20px 40px;
  background-color: var(--color-five);
  border-radius: 5px;
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stack > * {
  margin: 0;
  padding-bottom: 25px;
}

.center {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.center-narrow {
  max-width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

/* column class if needed

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;

} */

button {
  margin: 0 auto;
  padding: 0;
}

.homepage {
  text-align: center;
  background-image: url("images/homepage.jpg");
  background-color: #FAF9F6;
  height: 500px; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

[data-tab-content] {
  display: none;
}
 
.active[data-tab-content] {
  display:block;
}

.tabs {
  color: var(--color-one);
  border: rgba(248, 233, 233, 0.7) solid 3px;
  background-color: rgba(248, 233, 233, 0.7);
  border-radius: 50%;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: all 0.5s ease-in-out;
  list-style: none;
  padding: 10px;
  text-align: center;
  font-size: 1.6rem;
  font-family: var(--heading-font);
  font-weight: 500;
}

.tabs:hover {
  transform: scale(1.1); 
  background-color: var(--color-one);
  color: var(--color-five);
  border: var(--color-three) 3px solid;
  cursor: pointer;
}

section {
  background-color: var(--color-five);
  text-align: justify;
  padding-top: 30px;
  padding-bottom: 60px;
}

section p {
  font-style: normal;
  padding: 0;
  font-size: 1.6rem;
}

.facgency {
  font-style: italic;
}

.cta {
  font-weight: 700;
  font-family: inherit;
  color: inherit;
  text-decoration-color: #4DD7FE;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 1px;
}

.cta:focus {
  outline-color: rgb(170, 213, 241);
}

.img-container.desktop {
  display: none;
  max-width: 20vw;
  float: right;
  margin-left: 30px;
}

.img-container.mobile {
  max-width: 40vw;
  padding-top: 15px;
  border-radius: 50%;  
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: rgba(108, 112, 116, 0.438) 0px 8px 24px;
}

footer {
  background-color: rgb(170, 213, 241);
  padding: 10px;
}

/* Tablet and up */
@media screen and (min-width: 768px) {
  .fa-network-wired {
    font-size: 7rem;
  }

  .homepage {
      margin-top: 100px;
      display: grid;
      grid-template-rows: 150px 150px 150px;
      grid-template-columns: 150px 150px 150px 150px;
      border: solid 2px purple;
      justify-content: center;

    }

    .center {
      max-width: 55vw;
    }

    section {
      text-align: left;
    }

    .img-container.desktop {
      display: block;
    }

    .img-container.mobile {
      display: none;
    }
}